<ul class="navbar-nav ms-auto">
  {% if current_user.is_authenticated %}
    <li class="nav-item me-3">
      <span class="nav-link text-white">Usuario: <strong>{{ current_user.usuario }}</strong></span>
    </li>
    <li class="nav-item">
      <a class="btn btn-outline-light btn-sm mt-1" href="{{ url_for('logout') }}">Cerrar Sesión</a>
    </li>
  {% else %}
    <li class="nav-item">
      <a class="nav-link" href="{{ url_for('login') }}">Iniciar Sesión</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="{{ url_for('registro') }}">Registrarse</a>
    </li>
  {% endif %}
</ul>